<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
 
<head th:replace="header :: head">
</head>

<body>
	hi, learn-spring-mybatis
	#{value}
	<p th:text="${value}" >3333</p>
	<p th:text="${bean_value.name}">bean_value</p>
	<p th:text="${#servletContext.contextPath}">session id</p>
	<p>Today is: <span th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}">13 May 2011</span></p>
	<input id="aSubmit" type="button" value="submit" />
	<form action="/test" th:attr="action=@{/update}"></form>
	<form action="/test" th:action="@{/delete}"></form>
	
	<div th:insert="footer :: copy"></div>
</body>
</html>
